body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/s7Avpce.png");
  background-attachment: fixed;

}

.tools {

  display: flex;
}

@media screen and (max-width:450px) {
  .click {
      color: white;
  }
}

ul {list-style: square;
  
}



.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  font-style: American-Typewriter;
  border-style: groove;
  font-weight: 200;
  width: 200px;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00FFFF;
}

.photo img {
  max-width: 300px;
  max-height: auto;
}

ul.me {
  list-style-type: lower-greek;
  color: white;
}

.james {
  font-size: 25px;
}
.bio {
  text-align: justify;
  color: white;
  font-size: 25px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}


a:hover {
  color: white;
}


a:active {
  color: gray;
}
