body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/s7Avpce.png");
  background-attachment: fixed;

}

.tools {

  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white; 
  font-family: '__Exo 2_3';
  font-size: 40px;
  font-weight: 600;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  color: white;

}



.photo img {
  max-width: 300px;
  max-height: auto;
}

ul.me {
  list-style-type: lower-greek;
  color: white;
}

.james {
  font-size: 25px;
}
.bio {
  text-align: justify;
  color: white;
  font-size: 25px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}


a:hover {
  color: white;
}


a:active {
  color: gray;
}
