body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/s7Avpce.png");
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white; 
  font-size: 40px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  color: white;

}


.photo img {
  max-width: 300px;
  max-height: auto;
}



.james {
  font-size: 25px;
}
.bio {
  text-align: justify;
  color: white;
  font-size: 25px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}


a:hover {
  color: white;
}


a:active {
  color: gray;
}
